@model IEnumerable<HealthCare.Models.Pregled>

@{
    ViewBag.Title = "Index";
}

<h2>Pregledi</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PregledID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PregledID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PregledID })
        </td>
    </tr>
}

</table>
