@model HealthCare.Models.Pacijent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pacijent</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Files.Any(f => f.FileType == HealthCare.Models.FileType.Dokument))
        {
            <dt>
                QR kod 
            </dt>
            <dd>
                <img src="~/File?id=@Model.Files.First(f => f.FileType == HealthCare.Models.FileType.Dokument).FileId" alt="dokument" />
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumRegistracije)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumRegistracije)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firma)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Kartoni)*@Obavljeni pregledi:
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Naziv pregleda</th>
                    <th>Izveštaj</th>
                    <th>Preuzmi izveštaj</th>
                </tr>
                @foreach (var item in Model.Kartoni)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pregled.Naziv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Izvestaj)
                        </td>
                        @if (item.Izvestaj == 0)
                        {
                            <td>@Html.ActionLink("Preuzmi", "DownloadFileSposoban", new { })</td>
                        }
                        else
                        {
                            <td>@Html.ActionLink("Preuzmi", "DownloadFileNesposoban", new { })</td>
                        }
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
